*.docx
*.pages
*.csv
/paper/
/output/
/data/
.venv/
.DS_Store
/script/map.py
__pycache__/
*.zip
/haihuyou/
kanpe.md
sandbox.py

./docs/02_introduction_to_data_processing.md
./docs/03_introducting_draw_graph.md
./docs/04_requirements_definition.md